html {
  font-size: 62.5%;
}

body {
  margin: 0;
  /*           weight size/line height 'name', 'fallback font*/
  font-family: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #303c6c;
  overflow: hidden;
  display: locked; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

