.nav-bar {
    background: #303c6c;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    z-index: 3;
    justify-content: space-between;
    display: flex;
    align-items: center;
    min-height: 50px; // prevent overflow on smaller screens

    .logo {
        display: flex;
        align-items: center;
        padding: 0 25px;
        
        img {
            display: block;
            margin: 8px auto;
            width: 48px;
            height: auto;

            &.sub-logo {
                width: 50px;
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        width: 100%;

        a {
            font-size:35px;
            color: #fbe8a6;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            margin: 0 35px;

            padding: 0 55px;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: #ffd700;

                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                font-size: 14px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            // home button hover feature
            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }

        }

        // about button hover feature
        a.about-link {
            &:after {
                content: 'ABOUT';
            }
        }

        // contact button hover feature
        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.active {
            svg {
                color: #f4976c;
            }
        }
   } 

    // styling for social buttons
    ul  {
        display: flex;
        position: absolute;
        justify-content: flex-end;
        width: 100%;
        padding: 0;
        list-style: none;
    
    // how to display as list
        li {
            a   {
                padding: 0 7px 0 0;
                display: block;
                font-size:  25px;
                line-height: 26px;
            }

            &:hover svg {
                color: #f4976c
            }
        }
    }
}